@model WebApplication1.DataAccess.RevisionRequerimiento

@{
    ViewBag.Title = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RevisionRequerimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_ingreso_requerimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ingreso_requerimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Tipo_requerimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Tipo_requerimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requerimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requerimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Aplicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Aplicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Hardware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Hardware)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_revision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario_rev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario_rev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion_Hr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion_Hr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RevisionRequerimiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
