@model IEnumerable<WebApplication1.DataAccess.VistaRevisionRequerimiento>





@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>Detalles De Revision De Requerimiento</h2>

<table class="table">
    <tr>
        <th>
            ID Requerimiento 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante)
        </th>
        <th>
            Tipo de Requerimiento 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aplicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hardware)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            Fecha Ingreso 
        </th>
        <th>
           Fecha Plazo
        </th>
        <th>
            Fecha Revision
        </th>
        <th>
           Comentario Revision
        </th>
        <th>
           Duracion(Hr)
        </th>
        <th>
           Usuario Revision
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ingreso_requerimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRequerimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aplicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hardware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Plazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_revision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario_rev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion_Hr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioRevision)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_RevisionRequerimiento }, new {@class = "btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_RevisionRequerimiento }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_RevisionRequerimiento }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
