@model IEnumerable<WebApplication1.DataAccess.Hardware>

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de Hardware</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoHardware)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoHardware)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Hardware }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Hardware }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Hardware })
        </td>
    </tr>
}

</table>
