
@model WebApplication1.Models.RequerimientoViewModel


<p><strong>ID:</strong> <span id="ID">@Model.ID </span></p>
<p><strong>Requerimiento:</strong> <span id="Requerimiento"> @Model.Requerimiento </span></p>
<p><strong>Solicitante:</strong> <span id="Solicitante">@Model.Solicitante</span></p>
<p><strong>Proyecto:</strong> <span id="Proyecto"></span>@Model.Proyecto</p>
<p><strong>Fecha de Plazo:</strong> <span id="F_Plazo"></span>@Model.F_Plazo</p>
<p><strong>Fecha de Ingreso:</strong> <span id="FechaIngreso">@Model.FechaIngreso</span></p>
<p><strong>Aplicación:</strong> <span id="Aplicacion"></span>@Model.Aplicacion</p>
<p><strong>Opción:</strong> <span id="Opcion"></span>@Model.Opcion</p>
<p><strong>Hardware:</strong> <span id="Hardware"></span>@Model.Hardware</p>
<p><strong>Comentario:</strong> <span id="Comentario"></span>@Model.Comentario</p>
<p><strong>Prioridad:</strong> <span id="Prioridad"></span>@Model.Prioridad</p>

   